{% extends 'base.html' %}

{% block title %}
<title>Поисковик по текстам документов</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" >
            <div class="col-md-8 blog-main">
                <div class="card" style="width: 38rem;">
                    <h1 class="display-8">Добавить текст</h1>
                    <div>
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleFormControlRubrics1">Название рубрики</label>
                                <input type="text" class="form-control-lg" required id="exampleInputRubrics1" name="rubrics">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Файл с текстом</label>
                                <input type="file" class="form-control-lg" required id="exampleInputFile1" name="file">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlDate1">Дата</label>
                                <input type="date" class="form-control-lg" required id="exampleFormControlDate1" name="date">
                            </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
